<!-- css -->
<style>
  .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
</style>

<!-- signup section -->
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://img.freepik.com/free-photo/vertical-portrait-smart-good-looking-female-student-glasses-denim-jacket-sit-outdoors-bench-work-park-part-time-freelance-job-while-studying-university-laptop-mobile-phone-table_197531-22157.jpg?w=360&t=st=1677568066~exp=1677568666~hmac=d34359da5469793977eb9e6f051c921e0c9a67e419301a35466e4b288b4b0209"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body  text-black">

                <form action="/create" method="POST">

                  <div class="d-flex align-items-center mb-3">
                    <span class="h1 fw-bold mb-0">Sign Up</span>
                  </div>

                  <div class="form-outline mb-4">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required />
                  </div>
                  <div class="form-outline mb-4">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
                      required />
                  </div>

                  <div class="form-outline mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required />
                  </div>
                  <div class="form-outline mb-4">
                    <label for="confirm_password" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                      required />
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Signup</button>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account?<a href="/"
                      style="color: #393f81;">Login</a></p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>